  <div >
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-sm">
      Lorem ipsum dolor
      <span highlight>sit amet consectetur adipisicing elit.</span> Dolorem
      veniam culpa natus, magni debitis odio aperiam deleniti quae illum,
      doloribus est? Quidem nihil ducimus earum blanditiis eius a et veritatis?
    </p>
    <p class="text-sm">
      Numero de clientes
      @if (duration() > 0) {
<app-counter
        [duration]="duration()"
        [message]="message()"
       
      />
}
    </p>
    <div>
      <app-wave-audio audioUrl="assets/audio.mp3" />
    </div>
  </div>

